body {
    height: 100vh;
    background-image: url("../img/overlay.png"), linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.65;
}

h1, h2, h3, h4, h5, h6, p, a{
    font-weight: 300;
}

h2 {
    margin-top: 0;
}

.wrapper{
    width: 80%;
    margin: auto;
}

.main-header{
    padding: 96px 64px 48px;
    text-align: center;
}

.main-header h1{
    font-size: 52px;
    color: white;
    margin: 0 0 13px
}

.main-header p {
color: #ffffffa6;
font-size: 20px
}

.link {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dotted;
       

}

.link:hover {
    color: white;
    border: none;

}

#nav {
    background-color: #f7f7ff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    padding: 22px;
}

#nav li {
    display: inline-block;
    margin-right: 5px;
}

#nav a {
    text-decoration: none;
    color: #636363;
    font-size: 22px;
    padding: 15px 28px;    
    border-radius: 5px;
}

#nav a:hover {
    background-color: rgba(222, 222, 222, 0.25);
}

.nav__item--active {
    background-color: white;
}

#nav .nav__item--active:hover {
    background-color: white;
}

#main-content {
    background-color: white;
}

#intro  {
    display: flex;
    padding: 100px 100px 65px;
}
              
.spotlight {
    display: flex;
    align-items:center;
    margin: 0 0 2em 0;
}
    
.fig{
    display:inline-block;
    border-radius: 100%;
    border: 1px solid #cccccc;
    padding: 15px;
}

.content {
    width: 60%;
}

.image-container {
    width: 40%;
    text-align: right;
}

.title {
    color: #636363;
    font-size: 45px;
    margin: 0px 0px 31px ;
}

.title:after {
    content: "";
    display: block;
    height: 2px;
    width: 130px;
    background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
    margin: 20px 0;
}

.title-center {
    text-align: center;
}

.title-center:after {
    margin: 20px auto;
}
.text{
    color: #636363;
    font-size: 22px;
    margin: 0px 0px 32px;
}
.buttom{
    text-decoration: none;
    color: #636363;
    font-size: 22px;
    
    border-radius: 8px;
    display: inline-block;
    background-color: white;
    box-shadow: inset 0 0 0 1px #dddddd;
    text-align: center justify;
   height: 2.75em;
    line-height: 2.75em;
    padding: 0 1.5em;
   }
   .features{
    display: flex;
    padding: 50px 50px 50px;
    
  }
   
   .tito{
       color: #636363;
       font-size: 28px;
   }
   #fas i {
       margin: 0 0 1,5em 0;
       padding: 0.35em;
       font-size: xx-large;
       color:#efa8b0;
       font: x-large;
       display:inline-flex;
       border-radius:200px;
       border: 1px solid #cccccc;
       padding: 50px;
       font-weight: 800;
   }
   

   }
   
    


  