

body {

background-color:#bfac4eec;


}
main{
    background-color:#A8D977 ;
    padding: 50px;
    margin: auto;
    border-radius: 10px;

}
h1{
    color:black;
    text-align: center;
    font-size: 50px;
    padding-top: 10px;
}
body nav ul li{
    
    text-decoration: none;
    font-size: 10px;
}
.intro{
    display: grid;
}
p{
    text-align:justify;
}
    

ul.botop li{
    
    list-style: none;
    display: inline-block;
   
    
}
ul.botop li a{

    
    border: none;
    margin: 10px;
    font:0.68em verdana , Arial, sans-serif;
    background: #f1f1f1;
    color: #333;
    text-align: center;
    padding:20px;
    text-decoration: none;
    font-size: 25px;
    border-radius: 10px;
    position:relative;
    box-sizing: border-box;
    cursor:pointer;
    transition: all 400ms ease;
}
ul.botop a:hover{
    
    font-style: oblique;
    background: black;
    color:#ffff;
    border-color:white;

}

.container{
    display:grid;
   
}


   
.main-header{
    padding: 96px 64px 48px;
    text-align: center;
}

   

.main-header p {
    color: #ffffffa6;
    font-size: 30px
    }
#nav{
    background-color:#1C8C43;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 20px;
}

#main-content {
    background-color: rgb(175, 16, 10);
    opacity: 1;
}

.title {
    text-align: center;
    color:white;
    font-size: 25px;
    margin: 0px 0px 31px ;
    padding-top: 50px;
}

.fim{
    color: white;
    text-align: center;
    font-size: 40px;
}
.rodape p{
    color: white;
    text-align: center;
    font-size: 25px;
    padding-bottom: 100px;
  
}


 .imagem img{
    height:300px;
    width:400px;
    background-size:100% auto;
 }
 .texto img{
     position: relative;
 }
  .texto a{
      position: absolute;
      left: 50%;
  
    padding:20px;
    font-family:Arial;
    text-align:center;
    color:white;
    opacity:0;
    transition: opacity .2s linear;
    background-color:rgba(0,0,0,.7);
  } 
  
  .imagem:hover .texto a{
    opacity:1;
   }
   .decor p{
       text-align: end;
   }
    
