body {
height: 100vh;
background-image:linear-gradient(to right, rgb(164, 204, 195), rgb(75, 184, 138));
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
font-family: 'Source Sans Pro', sans-serif;
line-height: 1.65;
}
.wrapper{
    width: 80%;
    margin: auto;
}
#nav{
    background-color: #f7f7ff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: end;
    padding: 22px;
}


